* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "맑은 고딕", "돋움", monospace;
  font-size: 0.75em;
  color: #333;
}

table.tbl-ex {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  border: solid #333;
  border-collapse: collapse;
  border-left: 0px;
  border-right: 0px;
}
table th,
td {
  border: 1px solid #333;
  padding: 8px;
  border-left: 0px;
  border-right: 0px;
}
table th {
  background-color: #999;
  font-size: 1.1em;
  color: #fff;
  border-width: 2px;
}
table td {
  border-style: dotted;
}
table tr:nth-child(2n-1) {
  background-color: #e8ecf6;
}
table tr:hover {
  background-color: #fc6;
  cursor: pointer;
}
