@import url(./main.css);

ul ul {
  margin-left: 20px;
  list-style: none;
}

li {
  line-height: 1.8em;
  padding-left: 15px;
  background-image: url("/practices/images/bullet11.jpg");
  background-repeat: no-repeat;
  background-position: 0.8px;
}
